<ion-tabs class="bar">
  <ion-tab-bar class="bar__tab" slot="bottom">
    <ion-tab-button class="tabBtn" tab="tab1" href="/tabs/tab1">
      <ion-icon
        class="tab__icon"
        *ngIf="activeTab === 'tab1'"
        name="home"
      ></ion-icon>
      <ion-icon
        class="tab__icon"
        *ngIf="activeTab !== 'tab1'"
        name="home-outline"
      ></ion-icon>
      <ion-label class="tab__label">Início</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabBtn" tab="tab2" href="/tabs/tab2">
      <ion-icon
        *ngIf="activeTab === 'tab2'"
        class="tab__icon"
        aria-hidden="true"
        name="compass"
      ></ion-icon>
      <ion-icon
        *ngIf="activeTab !== 'tab2'"
        class="tab__icon"
        aria-hidden="true"
        name="compass-outline"
      ></ion-icon>
      <ion-label class="tab__label">Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabBtn" tab="tab3" href="/tabs/tab3">
      <ion-icon
        *ngIf="activeTab === 'tab3'"
        class="tab__icon"
        aria-hidden="true"
        name="bookmarks"
      ></ion-icon>
      <ion-icon
        *ngIf="activeTab !== 'tab3'"
        class="tab__icon"
        aria-hidden="true"
        name="bookmarks-outline"
      ></ion-icon>
      <ion-label class="tab__label">Salvos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabBtn" tab="tab4" href="/tabs/tab4">
      <ion-icon
        class="tab__icon"
        aria-hidden="true"
        name="person-outline"
      ></ion-icon>
      <ion-label class="tab__label">Perfil </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
