<ion-header>
  <ion-toolbar>
    <ion-title>Artigos Salvos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="savedArticles.length > 0">
  <ion-card
    class="card"
    *ngFor="let article of savedArticles"
    (click)="navigateToDetails(article.id)"
  >
  <ion-icon class="card__icon" name="bookmark"  (click)="removeArticle(article.id)">
  </ion-icon>
    <img class="card__img" [src]="article.urlToImage" />
    <ion-card-header class="card__header">
      <ion-card-title class="card__title">{{ article.title }}</ion-card-title>
      <ion-card-subtitle class="card__subtitle">
        {{ article.author }} - {{ article.publishedAt }}
      </ion-card-subtitle>
    </ion-card-header>
   
  </ion-card>
</ion-content>

<ion-content *ngIf="savedArticles.length === 0">
  <p>Nenhum artigo salvo!</p>
</ion-content>
